name: Build and Analyze

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build & Test (generate JaCoCo)
        run: mvn -B clean verify -DskipTests=false

      - name: Show JaCoCo report folder
        run: ls -R target/site/jacoco || echo "Jacoco folder not found"

      - name: Preview jacoco.xml
        run: |
          test -f target/site/jacoco/jacoco.xml && head -40 target/site/jacoco/jacoco.xml || echo "jacoco.xml not found"

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

        run: |
          mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=etheria_EtherIA-java \
            -Dsonar.organization=etheria \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.sources=src/main/java \
            -Dsonar.tests=src/test/java \
            -Dsonar.java.binaries=target/classes \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
